<h1>Server Settings</h1>

<form method="POST">

    <label>
        Anti-Raid:
        <input type="checkbox" name="antiRaid" <%= settings.antiRaid ? "checked" : "" %>>
    </label>

    <br><br>

    <label>
        Quarantine Role:
        <input name="quarantineRole" value="<%= settings.quarantineRole || "" %>">
    </label>

    <br><br>

    <button type="submit">Save</button>

</form>